header{
    background-color: #27b5b9;
    color: white;
}

ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
  }

  li {
    float: left;
  }
  
  a {
    display: inline;
    padding: 8px;
    background-color: #dddddd;
  }

/* Basic styling */ 
* { box-sizing: border-box;
    padding: 0; 
    margin: 0; 
    } 

body { 
    font-family: sans-serif; 
    } 

nav { 
    background: #222; 
    padding: 5px 20px; 
    } 
    
ul { 
    list-style-type: none; 
    } a { color: white; text-decoration: none; } a:hover { text-decoration: underline; } .logo a:hover { text-decoration: none; } .menu li { font-size: 16px; padding: 15px 5px; white-space: nowrap; } .logo a, .toggle a { font-size: 20px; } .button.secondary { border-bottom: 1px #444 solid; }
