.card-body {
  background-color: #a9cce3;
}
.cards-shoes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px 30px;
}

.card-width {
  width: 18rem;
}

.main-container {
  margin: 77px 25px 25px 25px;
}

@media (max-width: 650px) {
  .main-container {
    margin-top: 230px;
  }
}
